#chatWindow{
	height: 25vw;
	max-height: 25vw;
	overflow: auto;
	width: 200px;
}

#chat{
  max-width: 100%;
  margin: 10px auto;
  border: 1px solid #ccc;
}
#container{
	margin-left: 100px;
	margin-right: 100px;
	color: red;
}

th {
	white-space: nowrap;
	overflow: hidden;
}

#title {
	white-space: nowrap;
	overflow: hidden;
}
#register{
	padding-top: 15%;
}
#registerButton{
	font-size: 50px;
}

#searchz {
	text-align: center;
}

#searchSubmitz {
	background-color: #9933CC;
	font-weight: bold;
	color: white;
	border-color: #9933CC;
}
#search {
	text-align: center;
}

#searchSubmit {
	background-color: #9933CC;
	font-weight: bold;
	color: white;
	border-color: #9933CC;
}

#searchbar{
	width: 40%;
}

header {
	text-align: center;
}

#navButtons {
	text-align: center;
}

#loginlogout {
	text-align: right;
}
.card{
	display: inline-grid;
}